@functions {
    public string IsActive(string controller, string action = "", string replace = "active", string replaceElse = "")
    {
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

        return (controller == currentController && (string.IsNullOrEmpty(action) || action == currentAction)) ? replace : replaceElse;
    }
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel --> 
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/assets/img/admin/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>AdminLTE</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            <li class="@IsActive("Home")"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

            <li class="treeview @IsActive("User")">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Manage User</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@IsActive("User", "Index")"><a asp-area="Admin" asp-controller="User" asp-action="Index"><i class="@IsActive("User", "Index", "fa fa-circle", "fa fa-circle-o")"></i>All User</a></li>
                    <li class="@IsActive("User", "VerificationRequestList")"><a asp-area="Admin" asp-controller="User" asp-action="VerificationRequestList"><i class="@IsActive("User", "VerificationRequestList", "fa fa-circle", "fa fa-circle-o")"></i>Verification Request</a></li>
                </ul>
            </li>

            <li class="@IsActive("Role")"><a asp-area="Admin" asp-controller="Role" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Manage Role</span></a></li>
            <li class="@IsActive("Job")"><a asp-area="Admin" asp-controller="Job" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Manage Job</span></a></li>
            <li class="@IsActive("Skill")"><a asp-area="Admin" asp-controller="Skill" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Manage Skill</span></a></li>
            <li class="@IsActive("Applications")"><a asp-area="Admin" asp-controller="Applications" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Manage Applications</span></a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
