@model MessageViewModel
@{
    ViewBag.Title = "Message";
}
<!-- content area -->
<div class="dashboard__content d-flex template-dashboard ">
    <partial name="_LeftMenu" />
    <div class="dashboard__right">
        <div class="dash__content ">

            <!-- sidebar menu -->
            <div class="sidebar__menu d-md-block d-lg-none">
                <div class="sidebar__action"><i class="fa-sharp fa-regular fa-bars"></i> Sidebar</div>
            </div>
            <!-- sidebar menu end -->

            <h6 class="fw-semibold mb-4">Message</h6>
            <!-- mobile message -->
            <div class="user__list__as__messanger d-xxl-none mb-30">
                <h6 class="fw-semibold mb-4 font-20">Active Users</h6>
                <div class="message__left">
                    <!-- search people -->
                    <div class="search__job">
                        <div class="position-relative">
                            <input type="text" id="search" placeholder="Find Top Employer" required="">
                            <i class="fa-light fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <!-- search people end -->
                    <!-- message filter -->
                    <div class="message__filter mt-4">
                        <ul class="list-unstyled d-flex gap-3">
                            <li class="nav-item"><a href="#" class="nav-link active">All</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Unread</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Read</a></li>
                        </ul>
                    </div>
                    <!-- message filter end -->
                    <!-- CHAT USER -->
                    <div class="chat__user__list">
                        <!-- single user -->
                        @* render by js *@
                        <!-- single user end -->
                    </div>
                    <!-- CHAT USER ENMD -->
                </div>
            </div>
            <!-- mobile message end -->
            <div class="candidate__message">
                <div class="candidate__message__content">
                    <div class="message__left">
                        <!-- search people -->
                        <div class="search__job">
                            <div class="position-relative">
                                <input type="text" id="search" placeholder="Find Top Employer" required="">
                                <i class="fa-light fa-magnifying-glass"></i>
                            </div>
                        </div>
                        <!-- search people end -->
                        <!-- message filter -->
                        <div class="message__filter">
                            <ul class="list-unstyled">
                                <li class="nav-item"><a href="#" class="nav-link active">All</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Unread</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Read</a></li>
                            </ul>
                        </div>
                        <!-- message filter end -->
                        <!-- CHAT USER -->
                        <div class="chat__user__list">
                            <!-- single user -->
                            @* render by js *@
                            <!-- single user end -->
                        </div>
                        <!-- CHAT USER ENMD -->
                    </div>
                    @if (Model.CurrentChatSession != null && Model.Sessions.Any())
                    {
                        AppUser? otherUser = null;

                        if (Model.CurrentUser != null)
                        {
                            if (Model.CurrentChatSession.User1Id != Model.CurrentUser.Id)
                            {
                                otherUser = Model.CurrentChatSession.User1;
                            }
                            else
                            {
                                otherUser = Model.CurrentChatSession.User2;
                            }
                        }

                        <div class="message__content">
                            <div class="chat__header">
                                <div class="avatar">
                                    <img src="@(!string.IsNullOrEmpty(otherUser?.Avatar) ? otherUser.Avatar : @Url.Content("~/assets/img/avatars/default-avatar.jpg"))" alt="">
                                </div>
                                <div class="content">
                                    <h6 class="font-20 fw-semibold mb-0">@(otherUser?.FullName ?? "Unknown User")</h6>
                                    <span class="status">Online</span>
                                </div>
                            </div>

                            <div class="chat__content" id="chatMessages" style="height:500px; overflow-y:auto;">
                                @foreach (ChatMessage chatMessage in Model.CurrentChatSession.Messages)
                                {
                                    var isCurrentUser = chatMessage.SenderId == Model.CurrentUser.Id;
                                    var messageClass = isCurrentUser ? "msg receiver" : "msg sender";

                                    <div class="@messageClass chat__message">
                                        <div class="avatar">
                                            <img src="@(!string.IsNullOrEmpty(chatMessage.Sender?.Avatar) ? chatMessage.Sender.Avatar : @Url.Content("~/assets/img/avatars/default-avatar.jpg"))" alt="">
                                        </div>
                                        <div class="content">
                                            <p>
                                                @chatMessage.MessageText
                                            </p>
                                            <span class="time">@chatMessage.SentAt</span>
                                        </div>
                                    </div>
                                }

                                <div class="msg sender chat__message" id="chatIndicator">
                                    <div class="avatar" id="typingIndicator_avatar" style="display: none;">
                                        <img src="@(!string.IsNullOrEmpty(otherUser?.Avatar) ? otherUser.Avatar : @Url.Content("~/assets/img/avatars/default-avatar.jpg"))" alt="">
                                    </div>
                                    <div id="typingIndicator" class="typing-indicator content" style="display: none;">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="input__msg">
                                <form action="#" id="messageForm" style="@((otherUser != null) ? "" : "display:none;")">
                                    <input type="text" placeholder="Type a message" id="messageInput" oninput="handleMessageInput()">
                                    <label for="file">
                                        <!-- SVG... -->
                                    </label>
                                    <input type="file" id="file" style="display: none;">
                                    <button class="message__btn" onclick="handleSendButtonClick(event)">Send</button>
                                </form>

                                <p id="userNotAvailableMsg" class="text-danger text-center" style="@((otherUser == null) ? "" : "display:none;")">User no longer available.</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="message__content">
                            <div class="chat__header">
                                <div class="content">
                                    <h6 class="font-20 fw-semibold mb-0">No conversation right now</h6>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-30">
            <p class="copyright">Copyright © 2024 All Rights Reserved by jobpath</p>
        </div>
    </div>
</div>
<!-- content area end -->

@section Scripts {
    <script>
        let currentChatId = '@Model.CurrentChatSession?.ChatId';
        let currentUserId = '@Model.CurrentUser.Id';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/assets/js/messagePage.js"></script>
}
@section Footer {

}