@using Newtonsoft.Json
@model EditJobViewModel
@{
    ViewBag.Title = "Post Job";
}
<style>
    #skillRecommendations {
        max-height: 150px;
        overflow-y: auto;
        width: 100%;
    }

    .badge {
        display: inline-block;
        padding: 0.5em 0.75em;
        font-size: 0.875rem;
        border-radius: 0.25rem;
    }
</style>
<!-- content area -->
<div class="dashboard__content d-flex template-dashboard ">
    <partial name="_LeftMenu" />
    <div class="dashboard__right">
        <div class="dash__content" id="content-area">
            <!-- sidebar menu -->
            <div class="sidebar__menu d-md-block d-lg-none">
                <div class="sidebar__action"><i class="fa-sharp fa-regular fa-bars"></i>Sidebar</div>
            </div>
            <!-- sidebar menu end -->
            <!-- submit form -->
            <form asp-controller="employer" asp-action="editjob" id="editjobform">
                <div class="my__profile__tab radius-16 bg-white">
                    <nav>
                        <div class="nav nav-tabs">
                            <a class="nav-link active" href="#info">Job Details</a>
                            <a class="nav-link" href="#jobdescription">Job Description</a>
                        </div>
                    </nav>
                    <div class="my__details" id="info">
                        <div class="info__field pt-3">
                            <div class="row row-cols-1 g-3">
                                <div class="rt-input-group">
                                    <label asp-for="JobTitle">Job Title</label>
                                    <input asp-for="JobTitle" placeholder="Enter title" data-val-required="Post title is required">
                                </div>
                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                            </div>
                            <div class="row row-cols-sm-2 row-cols-1 g-3">
                                <div class="position-relative">
                                    <div class="rt-input-group">
                                        <label asp-for="City">City/Province</label>
                                        <input asp-for="City" placeholder="Enter City/Province" data-val-required="City/Province is required">
                                    </div>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="position-relative">
                                    <div class="rt-input-group">
                                        <label asp-for="ExperienceLevel">Experience Level</label>
                                        <select asp-for="ExperienceLevel" class="form-select">
                                            <option value="Intern">Intern</option>
                                            <option value="Junior">Junior</option>
                                            <option value="Middle">Middle</option>
                                            <option value="Senior">Senior</option>
                                            <option value="Lead">Lead</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Director">Director</option>
                                            <option value="Executive">Executive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative mb-3">
                                <div class="rt-input-group">
                                    <label asp-for="Salary">Salary & Pay Type</label>
                                    <div class="d-flex gap-2">
                                        <input asp-for="Salary" class="form-control" placeholder="Enter salary" data-val-required="Salary is required" style="flex:1;">
                                        <select asp-for="SalaryType" class="form-select" style="width: 200px;">
                                            <option value="" disabled selected>Select pay type</option>
                                            <option value="Salary">/ Salary</option>
                                            <option value="Hourly">/ Hourly</option>
                                            <option value="Project">/ Project</option>
                                            <option value="Commission">/ Commission</option>
                                            <option value="Salary + Commission">Salary + Commission</option>
                                            <option value="Hourly/Project">Hourly / Project</option>
                                            <option value="Unpaid">Unpaid / Volunteer</option>
                                        </select>
                                    </div>
                                </div>
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </div>
                            <div class="row row-cols-sm-2 row-cols-1 g-3">
                                <div class="position-relative">
                                    <div class="rt-input-group">
                                        <label asp-for="JobType">Job Type</label>
                                        <select asp-for="JobType" class="form-select" data-val-required="JobType is required">
                                            <option value="" disabled selected>Select job type</option>
                                            <option value="Full-time">Full-time</option>
                                            <option value="Part-time">Part-time</option>
                                            <option value="Contract">Contract</option>
                                            <option value="Temporary">Temporary</option>
                                            <option value="Internship">Internship</option>
                                            <option value="Freelance">Freelance</option>
                                            <option value="Volunteer">Volunteer</option>
                                            <option value="Seasonal">Seasonal</option>
                                            <option value="Per Diem">Per Diem</option>
                                            <option value="Commission">Commission</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="JobType" class="text-danger"></span>
                                </div>
                                <!-- End Time -->
                                <div class="position-relative">

                                    <div class="rt-input-group">
                                        <label asp-for="Opening">Opening</label>
                                        <input asp-for="Opening" placeholder="Enter number of opening" min="@Model.Opening" required>
                                    </div>
                                    <span asp-validation-for="Opening" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row row-cols-sm-2 row-cols-1 g-3">
                                
                                <div class="position-relative mb-3">
                                    <div class="rt-input-group">
                                        <label asp-for="LocationRequirement">Location Requirement</label>
                                        <select asp-for="LocationRequirement" class="form-select" required>
                                            <option value="" disabled selected>Select location requirement</option>
                                            <option value="Remote">Remote</option>
                                            <option value="Hybrid">Hybrid</option>
                                            <option value="Onsite">Fully Onsite</option>
                                            <option value="Flexible">Flexible</option>
                                            <option value="Client Site">Client Site</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="LocationRequirement" class="text-danger"></span>
                                </div>
                                <div class="position-relative">
                                    <div class="rt-input-group">
                                        <label asp-for="Close">End Time</label>
                                        <input type="date" asp-for="Close" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                                    </div>
                                    <span asp-validation-for="Close" class="text-danger"></span>
                                </div>
                                <!-- End Time -->
                                <div class="position-relative">
                                    <div class="rt-input-group">
                                        <label for="skills">Skills</label>
                                        <input type="text" id="skillInput" class="form-control" placeholder="Type a skill" autocomplete="off" />
                                        <ul id="skillRecommendations" class="list-group" style="display: none; position: absolute; z-index: 1000; width: auto;"></ul>
                                        @Html.HiddenFor(j => j.SelectedSkill)
                                    </div>
                                    <div id="skillTags">
                                        <!-- Tags will appear here -->
                                    </div>
                                    <span asp-validation-for="SelectedSkill" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- address area -->
                <h6 class="fw-medium mt-30 mb-20" id="jobdetail">Job Description</h6>
                <div class="social__links radius-16 p-30 bg-white">
                    <div class="info__field">
                        <div class="row row-cols-sm-1 row-cols-1 g-3">
                            <div class="info__field">
                                <div class="row row-cols-1">
                                    <div id="DescriptionEditor" style="height: 300px;"></div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <!-- Hidden field to post back the HTML -->
                                <input type="hidden" asp-for="Description" id="Description">
                            </div>
                        </div>
                    </div>
                </div>

                @* <h6 class="fw-medium  mb-20" id="posttime">Post time</h6> *@
                <div class="social__links radius-16 p-30 bg-white mt-30">
                    <div class="info__field">
                        <div class="row row-cols-sm-1 row-cols-1 g-3">
                            @* <div class="info__field">
                                <div class="row row-cols-sm-2 row-cols-1 g-3">
                                    <!-- End Time -->
                                    <div class="position-relative">
                                        <div class="rt-input-group">
                                            <label asp-for="Close">End Time</label>
                                            <input type="date" asp-for="Close" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                                        </div>
                                        <span asp-validation-for="Close" class="text-danger"></span>
                                    </div>
                                </div>
                            </div> *@
                            <button type="submit" class="rts__btn fill__btn">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- submit form end -->
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const skillList = @Html.Raw(JsonConvert.SerializeObject(ViewBag.SkillList));
        const initSkills = @Html.Raw(JsonConvert.SerializeObject(ViewBag.InitSkills));
        document.addEventListener("DOMContentLoaded", () => {
            initializeTagManager({
                inputSelector: "#skillInput",
                tagsContainerSelector: "#skillTags",
                recommendationsSelector: "#skillRecommendations",
                selectedItemsInputSelector: "#SelectedSkill",
                itemsList: skillList,
                initSkillList: initSkills
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            // Configure toolbar
            var toolbarOptions = [
                [{ 'header': [6, false] }],
                [{ 'size': [] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'align': [] }],
                ['blockquote'],
                ['link'],
                ['clean']
            ];

            // Init Quill
            var quill = new Quill('#DescriptionEditor', {
                theme: 'snow',
                placeholder: 'Enter job description...',
                modules: {
                    toolbar: toolbarOptions
                }
            });
            var html = document.querySelector('#Description').value;
            if (html && html.trim() !== "") {
                quill.root.innerHTML = html;
            }
            // Sync to hidden field
            document.querySelector('form').addEventListener('submit', function () {
                document.querySelector('#Description').value = quill.root.innerHTML;
            });
        });
        $.validator.setDefaults({ ignore: [] });
    </script>
}