@model EditJobViewModel
@{
    ViewBag.Title = "Post Job";
}
<style>
    #skillRecommendations {
        max-height: 150px;
        overflow-y: auto;
        width: 100%;
    }

    .badge {
        display: inline-block;
        padding: 0.5em 0.75em;
        font-size: 0.875rem;
        border-radius: 0.25rem;
    }
</style>
<!-- content area -->
<div class="dashboard__content d-flex template-dashboard ">
    <partial name="_LeftMenu" />
    <div class="dashboard__right">
        <div class="dash__content" id="content-area">
            <!-- sidebar menu -->
            <div class="sidebar__menu d-md-block d-lg-none">
                <div class="sidebar__action"><i class="fa-sharp fa-regular fa-bars"></i>Sidebar</div>
            </div>
            <!-- sidebar menu end -->
            <!-- submit form -->
            <form asp-controller="employer" asp-action="editjob" id="editjobform">
                <div class="my__profile__tab radius-16 bg-white">
                    <nav>
                        <div class="nav nav-tabs">
                            <a class="nav-link active" href="#info">Company Details</a>
                            <a class="nav-link" href="#jobdetail">Job Detail</a>
                        </div>
                    </nav>
                    <div class="my__details" id="info">
                        <div class="info__field pt-3">
                            <div class="row row-cols-1 g-3">
                                <div class="rt-input-group">
                                    <label asp-for="JobTitle">Job Title</label>
                                    <input asp-for="JobTitle" placeholder="Enter title" data-val-required="Post title is required">
                                </div>
                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                            </div>
                            <div class="row row-cols-1">
                                <div class="rt-input-group">
                                    <label asp-for="Description">Job Description</label>
                                    <textarea asp-for="Description" placeholder="Enter description"></textarea>
                                </div>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="rt-input-group">
                                <label for="skills">Skills</label>
                                <input type="text" id="skillInput" class="form-control" placeholder="Type a skill" autocomplete="off" />
                                <ul id="skillRecommendations" class="list-group" style="display: none; position: absolute; z-index: 1000; width: auto;"></ul>
                                @Html.HiddenFor(j => j.SelectedSkill)
                            </div>
                            <div id="skillTags">
                                <!-- Tags will appear here -->
                            </div>
                            <span asp-validation-for="SelectedSkill" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- address area -->
                <h6 class="fw-medium mt-30 mb-20" id="jobdetail">Job Detail</h6>
                <div class="social__links radius-16 p-30 bg-white">
                    <div class="info__field">
                        <div class="row row-cols-sm-1 row-cols-1 g-3">
                            <div class="info__field">
                                <div class="row row-cols-sm-2 row-cols-1 g-3">
                                    <div class="position-relative">
                                        <div class="rt-input-group">
                                            <label asp-for="City">Location</label>
                                            <select asp-for="City" class="form-select" onchange="toggleCustomField(this, '#customLocationInput')">
                                                <option value="Ha Noi">Ha Noi</option>
                                                <option value="Da Nang">Da Nang</option>
                                                <option value="Ho Chi Minh City">Ho Chi Minh City</option>
                                                <option value="Remote">Remote</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="position-relative">
                                        <div class="rt-input-group">
                                            <label asp-for="ExperienceLevel">Experience</label>
                                            <select asp-for="ExperienceLevel" class="form-select">
                                                <option value="1">1 Year</option>
                                                <option value="2">2 Years</option>
                                                <option value="1">3 Years</option>
                                                <option value="2">4 Years</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-cols-sm-2 row-cols-1 g-3">
                                    <div class="position-relative">
                                        <div class="rt-input-group">
                                            <label asp-for="Salary">Salary</label>
                                            <input asp-for="Salary" placeholder="Enter salary" required>
                                        </div>
                                        <span asp-validation-for="Salary" class="text-danger"></span>
                                    </div>
                                    <div class="position-relative">
                                        <!-- Job Schedule Input -->
                                        <div class="rt-input-group">
                                            <label for="schedule">Working Schedule</label>
                                            <select asp-for="LocationRequirement" class="form-select">
                                                <option value="" disabled selected>Select working schedule</option>
                                                <option value="Full-time">Full-time</option>
                                                <option value="Part-time">Part-time</option>
                                                <option value="Remote">Remote</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="rt-input-group">
                                    <label asp-for="Opening">Opening</label>
                                    <input asp-for="Opening" placeholder="Enter number of opening" min="@Model.Opening" required>
                                </div>
                                <span asp-validation-for="Opening" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <h6 class="fw-medium mt-30 mb-20" id="posttime">Post time</h6>
                <div class="social__links radius-16 p-30 bg-white">
                    <div class="info__field">
                        <div class="row row-cols-sm-1 row-cols-1 g-3">
                            <div class="info__field">
                                <div class="row row-cols-sm-2 row-cols-1 g-3">
                                    <!-- End Time -->
                                    <div class="position-relative">
                                        <div class="rt-input-group">
                                            <label asp-for="Close">End Time</label>
                                            <input type="date" asp-for="Close" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                                        </div>
                                        <span asp-validation-for="Close" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="rts__btn fill__btn">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- submit form end -->
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const skillList = @Html.Raw(Json.Serialize(ViewBag.SkillList));
        const initSkills = @Html.Raw(Json.Serialize(ViewBag.InitSkills));
        document.addEventListener("DOMContentLoaded", () => {
            initializeTagManager({
                inputSelector: "#skillInput",
                tagsContainerSelector: "#skillTags",
                recommendationsSelector: "#skillRecommendations",
                selectedItemsInputSelector: "#SelectedSkill",
                itemsList: skillList,
                initSkillList: initSkills
            });
        });
        $.validator.setDefaults({ ignore: [] });
    </script>
}