@model PostedJobsViewModel
@{
    ViewBag.Title = "Jobs Posted";
    var statuses = Enum.GetValues(typeof(Status)).Cast<Status>();
}
<!-- content area -->
<div class="dashboard__content d-flex">
    <partial name="_LeftMenu" />
    <div class="dashboard__right">
        <div class="dash__content" id="content-area">
            <!-- sidebar menu -->
            <div class="sidebar__menu d-md-block d-lg-none">
                <div class="sidebar__action"><i class="fa-sharp fa-regular fa-bars"></i>Sidebar</div>
            </div>
            <!-- sidebar menu end -->
            <div class="applied__job__info radius-16">
                <form id="searchForm" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update=".applied__job__list" data-ajax-mode='replace' data-ajax-url="@Url.Action("GetJobListPartial","Employer")">
                    <div class="job__filter">
                        <div class="search__job">
                            <div class="position-relative">
                                <input asp-for="SearchValue" placeholder="Search">
                                <i class="fa-light fa-magnifying-glass"></i>
                            </div>
                        </div>
                        <div class="search__job">
                            <div class="position-relative">
                                <input asp-for="FromDate" type="date" title="Select a date in DD/MM/YYYY format">
                                <i class="fa-light fa-magnifying-glass"></i>
                            </div>
                        </div>
                        <div class="search__job">
                            <div class="position-relative">
                                <input asp-for="ToDate" type="date">
                                <i class="fa-light fa-magnifying-glass"></i>
                            </div>
                        </div>
                        <div class="filter__job">
                            <div class="nice-select filter__select">
                                <span class="current">All Category</span>
                                <ul class="list">
                                    <li data-value="-1" class="option">All Category</li>
                                    @foreach (var status in statuses)
                                    {
                                        <li data-value="@((int)status)" class="option @(Model.SearchStatus != null && Model.SearchStatus == status ? "focus selected" : "")">@status</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.SearchStatus)
                    @Html.HiddenFor(m => m.Paging.CurrentPage)
                </form>
                
                <div class="applied__job__list">
                    <partial name="_PostedJobList" for="@Model"></partial>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        const searchForm = $("#searchForm");
        $("#SearchValue").on("input", function() {
            $("#Paging_CurrentPage").val(1);
            searchForm.submit();
        });

        $(".list .option").on("click",function () {
            $("#Paging_CurrentPage").val(1);
            $("#SearchStatus").val($(this).data("value"));
            searchForm.submit();
        });

        $('#FromDate').on("change", function () {
            $("#Paging_CurrentPage").val(1);
            $("#ToDate").attr("min", $(this).val());
            searchForm.submit();
        });

        $('#ToDate').on("change", function () {
            $("#Paging_CurrentPage").val(1);
            $("#FromDate").attr("max", $(this).val());
            searchForm.submit();
        });

        function pagingSelect(selectedPage){
            $("#Paging_CurrentPage").val(selectedPage);
            searchForm.submit();
        }
    </script>
}